.footerETop {
  background-color: #E66926 !important;
  padding: 30px 0;
  color: white;
  text-align: center;
}

.footerETop h4 {
  font-size: 18px;
  font-weight: bold;
}

.footerETop p {
  font-size: 20px;
}


