.footerETop {
  background-color: #E66926;
  padding: 20px 0;
  color: white;

  h4 {
    font-size: 21px;
    font-weight: 600;
  }

  .social-icon {
    color: white;
    margin: 0 10px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
      color: #f1c40f;
    }
  }
}
