#faqs {
  padding: 100px 0;
}

#faqs h2 {
font-size: 40px;
line-height: 46px;
font-style: normal;
font-weight: 400;
color: #343d56;
}

#faqs p.text-large {
font-size: 20px;
line-height: 30px;
}

#faqAccordion {
background: none;
}

#faqAccordion h3 .accordion-button {
font-size: 24px;
line-height: 30px;
font-weight: 300 !important;
color: #5e6883 !important;
padding: 2.15em 2em 2em;
}

.faq-container {
max-width: 1100px; /* Limit width for desktop */
margin: 0 auto;   /* Center it horizontally */
}

@media (max-width: 991px) {
.faq-container {
  max-width: 100%;  /* Full width on smaller screens */
  padding: 0 15px;  /* Add padding for smaller screens */
}
}
