.profileImage {
    width: 100%;
    max-width: 280px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
 /* .psychiatristBio {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
    */

  .heroPattern {
    color:transparent;
  }