.post {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.meta {
  color: #777;
  margin-bottom: 1rem;
}

.image {
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.content {
  font-size: 1.1rem;
  line-height: 1.7;

  a {
    color: #E66926;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
